/* Заголовки */
h3 {
    font-family: "Russo One", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    color: #ccc;
    z-index: 9999;
}
h4 {
    font-family: "Russo One", sans-serif;
    font-size: 1.47rem;
    font-weight: 400;
    color: rgb(33, 62, 92);
}

/* Иконки */
.pic-mini {
    height: 139px;
    width: 175px;
    border-radius: 50%; 
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.7);
} 

/* Блоки внутренние */
.block {
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.7);
    border: 2px solid #263647;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.5);
}

/* Задний фон */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(./image/bg1.jpg);
    background-size: cover;
}